# Capitulo 3: Añadiendo al DataFrame

## Ejemplos

Añadiendo una nueva fila al DataFrame

In [7]:
import pandas as pd
df = pd.DataFrame(columns = ['A', 'B', 'C'])
df

Empty DataFrame
Columns: [A, B, C]
Index: []

Añadiendo una fila por una unico valor de columna.

In [8]:
df.loc[0, 'A'] = 1
df

   A    B    C
0  1  NaN  NaN

Añadiendo una fila, dandole un lista de valores:

In [10]:
df.loc[1] = [2, 3, 4]
df

   A    B    C
0  1  NaN  NaN
1  2    3    4

Añadiendo una fila dejandole un diccionario:

In [11]:
df.loc[2] = {'A': 3, 'C': 9, 'B': 9}
df

   A    B    C
0  1  NaN  NaN
1  2    3    4
2  3    9    9

El primer input en  `iloc[]` es el indice. Si usa un indice existente, sobreescribirá los valores en la fila.

In [12]:
df.loc[1] = [5, 6, 7]
df

   A    B    C
0  1  NaN  NaN
1  5    6    7
2  3    9    9

In [13]:
df.loc[0,'B'] = 8
df

   A  B    C
0  1  8  NaN
1  5  6    7
2  3  9    9

## Añadiendo un Dataframe a otro Dataframe

nosotros asumiremos los siguientes dos dataframes:

In [20]:
df1 = pd.DataFrame({'A':['a1', 'a2', 'a3'], 'B':['b4', 'b5', 'b6']})
df2 = pd.DataFrame({'B':['b7', 'b8', 'b9'], 'C':['c10', 'c11', 'c12']})

Los dos Dataframes no requieren que tengas el mismo conjunto de columnas. El añadir metodos hace que no cambie caulquiera de los dataframes originales, en cambio, este retorna un nuevo Dataframe por añadir el dataframe 2 original. 

Añadir un dataframe a otro es bastante simple:

> Nota: `df1.append(df2)` esta desactualizado o deprecado, en su lugar use: `pd.concat([df1,df2])`

In [42]:
"""
originalmente era: df1.append(df2)
    A   B   C
0   a1  b1  NaN
1   a2  b2  NaN
0   NaN b1  c1
"""

pd.concat([df1,df2])

     A   B    C
0   a1  b4  NaN
1   a2  b5  NaN
2   a3  b6  NaN
0  NaN  b7  c10
1  NaN  b8  c11
2  NaN  b9  c12

Como puede ver, es posible duplicar indices [0 en este ejemplo]. Para evitar este problema, usted puede preguntar a pandas que reindexe el nuevo dataframe para usted:

In [40]:
"""
originalmente era: df1.append(df2, ignore_index=True)
    A   B   C
0   a1  b1  NaN
1   a2  b2  NaN
2   NaN b1  c1
"""

pd.concat([df1, df2], ignore_index=True)

     A   B    C
0   a1  b4  NaN
1   a2  b5  NaN
2   a3  b6  NaN
3  NaN  b7  c10
4  NaN  b8  c11
5  NaN  b9  c12