In [1]:
import pandas as pd

# Capitulo 5: Datos categóricos.

## Introducción

Categoricals son un tipo de dato en pandas, el cual corresponde a variables categoricas en estadistica: una variable, el cual puede tomar solamente un limitado e inusual numero de posibles valores fijos (categorias: niveles en R). Ejemplo son el genero, clase social, tipos de sangre, afiliaciones de paises, observaciones de tiempo o ratings via escalas de Likert. fuente: <a href='http://pandas.pydata.org/pandas-docs/stable/categorical.htm'>Pandas Docs</a>

## Ejemplos.

### Creación de objetos.

In [2]:
s = pd.Series(['a', 'b', 'c', 'a','c'], dtype='category')
s

0    a
1    b
2    c
3    a
4    c
dtype: category
Categories (3, object): ['a', 'b', 'c']

In [3]:
df = pd.DataFrame({'A':['a', 'b', 'c', 'a','c']})
df['B'] = df['A'].astype('category')
df['C'] = pd.Categorical(df['A'])
df

   A  B  C
0  a  a  a
1  b  b  b
2  c  c  c
3  a  a  a
4  c  c  c

In [4]:
df.dtypes

A      object
B    category
C    category
dtype: object

### Creando datasets largos y aleatorios.

In [5]:
import pandas as pd
import numpy as np

df = pd.DataFrame(np.random.choice(['foo', 'bar', 'baz'], size=(100000, 3)))
df = df.apply(lambda col: col.astype('category'))
df.head()

     0    1    2
0  foo  baz  foo
1  foo  baz  bar
2  foo  baz  foo
3  baz  foo  foo
4  bar  baz  bar

In [6]:
df.dtypes

0    category
1    category
2    category
dtype: object

In [7]:
df.shape

(100000, 3)

<a href='https://riptutorial.com/pandas/topic/3887/categorical-data'> Lea acerca de datos categoricos online</a>