In [2]:
import pandas as pd
import numpy as np

# Capitulo 6: Herramientas computacionales.

## Ejemplos

### Encuentre la correlacion entre columnas

Suponga que tiene un dataframe de valores numericos, por ejemplo:

In [3]:
df = pd.DataFrame(np.random.randn(1000, 3), columns=['A', 'B', 'C'])

Entonces.

In [4]:
df.corr()

          A         B         C
A  1.000000 -0.038047  0.025053
B -0.038047  1.000000 -0.038830
C  0.025053 -0.038830  1.000000

Encontrar√° la **correlacion de Pearson** entre las columnas. Note como la diagonal es 1, como cada columna es obviamente full correlacionado con sigo mismo.

`pd.DataFrame.correlation` toma un parametro opcional llamado **metodo**, especificando cual algoritmo usar. por defecto es **pearson**. Para usar correlacion de **Spearman** para el ejemplo use:

In [5]:
df.corr(method='spearman')

          A         B         C
A  1.000000 -0.034257  0.027351
B -0.034257  1.000000 -0.046963
C  0.027351 -0.046963  1.000000

<a href='https://riptutorial.com/pandas/topic/5620/computational-tools'>Herramienta computacional</a>