# Capítulo 13: Errores de los pandas.

### Observaciones

Gotcha en general es una construcción que, aunque está documentada, no es intuitiva. Las trampas producen resultados que normalmente no se esperan debido a su carácter contrario a la intuición.

El paquete Pandas tiene varios errores que pueden confundir a alguien que no los conozca, y algunos de ellos se presentan en esta página de documentación.

### Ejemplos.
##### Detectando valores faltantes con np.nan
Si desea detectar desaparecidos con:

In [3]:
import pandas as pd
import numpy as np

df = pd.DataFrame({
    'col': [1, np.nan]
})
df==np.nan

# Usted obtendra el siguiente resultado:

     col
0  False
1  False

Esto se debe a que comparar el valor faltante con cualquier cosa da como resultado un Falso; en lugar de esto, debes usar

In [4]:
df.isnull()
# Usted obtendra el siguiente resultado:

     col
0  False
1   True

#### Enteros y NA.

Pandas no admite la falta de atributos de tipo entero. Por ejemplo, si faltan datos en la columna de calificaciones:

In [ ]:
# En este ejemplo no existe el archivo data.csv, asi que debe proporcionarlo
df=pd.read_csv('data.csv', dtype={'grade':int})
# No ejecutar a menos que tenga a data.csv

En este caso, simplemente deberías usar flotante en lugar de números enteros o establecer el tipo de objeto.

#### Alineación automática de datos (comportamiento basado en índices)

Si desea agregar una serie de valores [1,2] a la columna del marco de datos df, obtendrá NaN:

In [10]:
series = pd.Series([1, 2])
df=pd.DataFrame(index=[3,4])
df['col']=series
df

   col
3  NaN
4  NaN

porque al establecer una nueva columna se alinean automáticamente los datos según el índice, y sus valores 1 y 2 obtendrían los índices 0 y 1, y no 3 y 4 como en su marco de datos:

In [7]:
df=pd.DataFrame(index=[1,2])
df['col']=series
df

   col
1  2.0
2  NaN

Si usted quiere ignorar el indice, debe ajustar `.values`  al final:

In [11]:
# Ejecuta nuevamente la celda de arriba

df['col']=series.values
df

   col
3    1
4    2

Read Gotchas of pandas [online:](https://riptutorial.com/pandas/topic/6425/gotchas-of-pandas)